<!DOCTYPE html>
<html>
<head>
    <title>ArduPilot Power Plot</title>
</head>
<body>
    <h1>ArduPilot Power Plot</h1>

    <form action="/bin-power" method="post" enctype="multipart/form-data">
        <p>Select a .bin file to upload:</p>
        <input type="file" name="file" accept=".bin">
        <input type="submit" value="Upload">
    </form>

    <br>

    {% if result %}
        {% if result.error %}
            <p style="color:red;">Error: {{ result.error }}</p>
        {% else %}
            {{ result.figure|safe }}
        {% endif %}
    {% endif %}

    <br>
    <a href="/">Return to Home</a>
</body>
</html>

